global
	chroot /var/lib/haproxy
	log /dev/log local0
	log /dev/log local1 notice
	log stdout format raw local0
	log 127.0.0.1:514  local0  info
    profiling.tasks on # enable cpu timing
	stats socket /var/run/haproxy.sock mode 660 level admin
	stats timeout 30s
	user haproxy 
	group haproxy 
	daemon


defaults
	log global
	mode http
	option httplog
	option forwardfor
	timeout client 10s
	timeout connect 5s
	timeout server 10s 
	timeout http-request 10s

frontend RejsRundt
	bind :80
	default_backend Servers
	# client ip : port  [%t] %ft %b/%s %ST %B %hr %hs %{+Q}r %Tq %Tw %Tc %Tr %Tt"
	log-format "%ci:%cp [%t] %ft %b/%s %ST %B %hr %hs %{+Q}r %Tq %Tw %Tc %Tr %Tt"

backend Servers
	balance leastconn # loadbalancing algorithm
	server server1 localhost:8000 check
  	server server2 localhost:8001 check
  	server server3 localhost:8002 check
  	server server4 localhost:8003 check
  	server server5 localhost:8004 check
  	server server6 localhost:8005 check
	server server7 localhost:8006 check
  	server server8 localhost:8007 check
  	server server9 localhost:8008 check
  	server server10 localhost:8009 check
	# add more servers here 

# HAProxy web ui
listen stats
	bind *:8404
	stats enable
	stats refresh 5s 
	stats uri /
	stats realm HAProxy\ Statistics # name
	no log

